

#container {
    width: 1024px;
    color: #000000 ;
    background-color: #fde49c;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

#head{
    padding-top: 5em;
}

#head-text p {
    padding-top: 1em;
    text-align: justify;
}

#head-img{
    text-align: center;
}
#main{
    /*background-image: linear-gradient( 45deg, #DB6400 0%, #16697A 100%);*/
    background-color: #16697A;
    background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
    color: #fffcba;
    letter-spacing: 1px;
    padding: 1em 0;
    margin-top: 3em;
    border-radius: 40% 55% 35% 26% / 19% 29% 65% 73%

}
#main h4:hover , #main h5:hover, #main  p:hover{
    color: #DB6400;
}
#main h4{
    margin-bottom: 1em;
}
#main h5{
    margin-top: 0.5em;
}
#main2, #main2-row, #main2-row1{
    margin: 3em 0;
}
.main2-img{
    text-align: justify;
 }
.main2-img img{
    border-radius: 10px;
}
.main2-text h5, .main2-text a{
    color: #16697A;
    text-decoration: none;
 }
.main2-text a:hover{
    color: #DB6400;
}
#footer{
    text-align: center;
}
#link a{
    padding: 1em;
    text-decoration: none;
    color: #16697A;
}
#link a:hover{
    color: #DB6400;
}
#text{
    padding: 1em;
}
